.nav-btn {
  border: 0;
  width: 50px;
  height: 50px;
  background-color: #EBEBEB;
  border-radius: 25px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &_direction_right {
    background-image: url("../../../images/components/rghtarr.svg");
    margin-left: 20px;
  }

  &_direction_left {
    background-image: url("../../../images/components/lftarr.svg");
  }

  &:hover {
    opacity: .7;
  }
}