.route {
  max-width: 1440px;
  padding: 60px 0 60px 120px;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;

  &__title {
    @include title-text;
    margin: 0 0 50px 0;
    max-width: 460px;
    visibility: hidden;
    @include text($light-theme: true);
    body.page_theme_dark & {
      @include text($light-theme: false);
    }

    @media screen and (max-width: 460px) {
      margin-bottom: 40px;
      max-width: 200px;
    }
  }

  &__text {
    @include description-text;
    margin: 0 0 80px 0;
    max-width: 460px;
    visibility: hidden;
    @include textDim($light-theme: true);
    body.page_theme_dark & {
      @include textDim($light-theme: false);
    }

    @media screen and (max-width: 460px) {
      grid-row: 3/4;
      grid-column: 1/-1;
      margin-bottom: 0;
    }
  }

  &__items {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    column-gap: 40px;
    margin-bottom: 50px;

    @media screen and (max-width: 460px) {
      grid-column: 1/-1;
      grid-row: 1/-1;
      width: 284px;
      margin: 0 auto;
    }
  }

  &__track {
    visibility: hidden;
    position: absolute;
    bottom: 16px;
    left: 0;
    height: 40px;
    width: 100px;

    @media screen and (max-width: 460px) {
      width: 70px;
      height: 28px;
      bottom: 143px;
    }
  }

  &__container {
    position: relative;
    display: grid;

    &:first-child {
      .route {
        &__track {
          visibility: visible;
        }

        &__title {
          visibility: visible;
        }

        &__text {
          visibility: visible;
        }
      }
    }
  }

  &__image {
    @media screen and (max-width: 460px) {
      width: 284px;
      height: 175px;
      margin-bottom: 40px;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
    z-index: 2;
    width: 142px;

    @media screen and (max-width: 460px) {
      grid-row: 1/2;
      grid-column: 2/-1;
      column-gap: 10px;
      justify-content: flex-end;
      height: 40px;
      align-items: center;
    }
  }

  @media screen and (max-width: 460px) {
    grid-template-columns: repeat(2, minmax(64px, 1fr));
    padding: 40px 0 80px;
    border-top: 1px solid rgba(227, 227, 227, 1);
    border-bottom: 1px solid rgba(227, 227, 227, 1);
    margin: 0 18px 0;
  }
}