.theme {
  display: flex;
  width: 138px;
  justify-content: space-between;
  align-items: center;

  &__image {
    height: 28px;

    &_light {
      background-image: url("/images/components/lightTheme_light.svg");
      width: 28px;
    }

    &_dark {
      background-image: url("/images/components/DarkTheme_light.svg");
      width: 19px;
    }
  }
}