@mixin title-text {
  font-family: $fontFamily;
  line-height: 60px;
  font-weight: $fontWeightBold;
  font-size: 55px;
  letter-spacing: -.5px;
  max-width: 460px;
  @include text($light-theme: true);
  body.page_theme_dark & {
    @include text($light-theme: false);
  }

  @media screen and (max-width: 1220px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 200px;
  }
}

@mixin description-text {
  font-family: $fontFamily;
  font-weight: $fontWeightRegular;
  line-height: 28px;
  font-size: 18px;
  max-width: 460px;
  @include textDim($light-theme: true);
  body.page_theme_dark & {
    @include textDim($light-theme: false);
  }

  @media screen and (max-width: 1220px) {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin background ($light-theme: true) {
  @if $light-theme {
    background-color: $backgroundLight;
  } @else {
    background-color: $backgroundDark;
  }
}

@mixin footer-background ($light-theme: true) {
  @if $light-theme {
    background-color: $backgroundLight;
  } @else {
    background-color: $backgroundDark;
  }
}

@mixin text ($light-theme: true) {
  @if $light-theme {
    color: $fontColorGrey;
  } @else {
    color: $fontColorWhite;
  }
}

@mixin textWithHover ($light-theme: true) {
  @if $light-theme {
    color: $fontColorGrey;
    &:hover {
      color: $fontColorGreyHover;
    }
  } @else {
    color: $fontColorWhite;
    &:hover {
      color: $fontColorWhiteHover;
    }
  }
}

@mixin textDim ($light-theme: true) {
  @if $light-theme {
    color: $fontColorDimGrey;
  } @else {
    color: $fontColorDimWhite;
  }
}

@mixin textDimWithHover ($light-theme: true) {
  @if $light-theme {
    color: $fontColorDimGrey;
    &:hover {
      color: $fontColorDimGreyHover;
    }
  } @else {
    color: $fontColorDimWhite;
    &:hover {
      color: $fontColorDimWhiteHover;
    }
  }
}

@mixin bikeCardText ($light-theme: true) {
  @if $light-theme {
    color: $fontColorGrey;
  } @else {
    color: $fontColorWhite;

    @media screen and (max-width: 1220px) {
      color: #151515;
    }
  }
}

@mixin  btnColor ($light-theme: true) {
  @if $light-theme {
    background-color: $btnColorLight;
  } @else {
    background-color: $btnColorDark;
  }
}

@mixin btnRight ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/rghtarr.svg")
  } @else {
    background-image: url("../images/components/rghtarr_dark.svg")
  }
}

@mixin btnLeft ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/lftarr.svg")
  } @else {
    background-image: url("../images/components/lftarr_dark.svg")
  }
}

@mixin lightThemeImage ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/lightTheme_light.svg")
  } @else {
    background-image: url("../images/components/lightTheme_dark.svg")
  }
}

@mixin darkThemeImage ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/darkTheme_light.svg")
  } @else {
    background-image: url("../images/components/darkTheme_dark.svg")
  }
}

@mixin burgerLine ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/nav_menu_line.svg")
  } @else {
    background-image: url("../images/components/nav_menu_line_dark.svg")
  }
}

@mixin lineColor ($light-theme: true) {
  @if $light-theme {
    background-color: #D7D4D4;
  } @else {
    background-color: #707070;
  }
}

@mixin borderLineColor ($light-theme: true) {
  @if $light-theme {
    border-color: #E3E3E3;
  } @else {
    border-color: #707070;
  }
}

@mixin dropDown ($light-theme: true) {
  @if $light-theme {
    background-image: url("../images/components/dropdown_light.svg");
  } @else {
    background-image: url("../images/components/dropdown_dark.svg");
  }
}
