$fontFamily: 'Inter', sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontColorGrey: #151515;
$fontColorGreyHover: rgba(21, 21, 21, .75);
$fontColorLightGrey: rgba(34, 34, 34, .7);
$fontColorLightGreyHover: rgba(34, 34, 34, .6);
$BGLight: #f4f4f4;
$fontColorWhite: #fff;
$fontColorWhiteHover: rgba(255, 255, 255, .65);
$fontColorDarkWhite: rgba(229, 229, 229, .7);
$fontColorDarkWhiteHover: rgba(229, 229, 229, .5);
$BGDark: #333;
$colorGreen: rgba(36, 180, 126);
$colorGreenHover: rgba(49, 158, 117)